import(methods, GenomicRanges)

importFrom(AnnotationDbi, exists, keys, keytypes, columns, loadDb)

importFrom(IRanges, DataFrame)

importFrom(httr, POST, content)

import(BiocGenerics)

importFrom(BiocInstaller, biocVersion)

importFrom(utils, .DollarNames)

importFrom(IRanges, metadata)

importFrom(rjson, fromJSON)

importFrom(stats, setNames)

importFrom(interactiveDisplay, display)

## export our S3 method.
S3method(.DollarNames, AnnotationHub)

exportMethods("$",
              "[[",
              "[",
              as.list,
              filters, "filters<-",
              hubUrl,
              hubCache, "hubCache<-",
              hubResource,
              keys,
              keytypes,
              columns,
              length,
              metadata,
              names,
              possibleDates,
              show,
              snapshotDate, "snapshotDate<-",
              snapshotPaths,
              snapshotUrl,
              snapshotUrls,
              snapshotVersion,
              display
              )

export(AnnotationHub,
       ahinfo)

