import(methods)

importFrom(AnnotationDbi, exists, keys, keytypes)

import(BiocGenerics)

importFrom(IRanges, metadata)

importFrom(RJSONIO, fromJSON)

importFrom(stats, setNames)

## export our S3 method.
S3method(.DollarNames, AnnotationHub)


exportMethods("$",
              "keytypes",
              "keys",
              "length",
              "names",
              "urls",
              "metadata",
              "filters",
              "filters<-")

export("AnnotationHub")
